canvas {
  background-color: #dfd;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 50px;
}

h1 {
  text-align: center;
}

#zomb {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  font-size: 30px;
}

#input {
  text-align: center;
}

#name {
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
}

#enter {
  margin-left: 2px;
  background-color: lightgreen;
  border-radius: 3px;
  border-color: black;
  border-width: 1px;
}